 /* Container holding the image and the text */
#container1 {
  position: relative;
}

/* Bottom right text */
#text-1{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  border-color: black;
  padding-left: 20px;
  padding-right: 20px;

} 

#tasks{
    opacity: 1;
    text-decoration-color: black;
} 
#back-image{
    border-radius: 25px;
}
#texto-borde {
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  color: white;
}
#task-text{
    text-shadow: 2px 2px black;
}